
@media (min-width: 768px) {
  .stat:first-child {
    padding-left: 0;
  }

  .stat:last-child {
    padding-right: 0;
  }
}

.icon {
  display: block;
  fill: currentColor;
  height: 70px;
  margin: 0 auto;
  width: 70px;
}